button {
    border: 1;
    border-radius: 0;
    line-height: 1;
    background: #1F4C69;
    padding: 1rem;
    margin: .5rem;
}

button:hover{
    padding:.99rem;
}

#button-container {
    text-align: center;
}

.centered-form {
    flex-wrap: wrap;
}

.centered-form__form {
    margin-top: 0;
    margin-bottom: 0;
}

.column {
    padding: 0;
}

h6 {
    margin-bottom: 0rem;
    margin-top: 1rem;
}

#header {
    background: #e1e1e1;
}

.large-12 {
    padding: 0;
}

.main__section {
    padding-left: .625rem;
    padding-right: .625rem;
}

#nav-title {
    background-color: #e6e6e6;
    font-weight: 700;
    color: black;
}

#open-spot {
    box-sizing: border-box;
    margin: 1rem;
    padding: .1rem .1rem .1rem 1.5rem;
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 300;
    font-size: .95rem;
    background-color: #e1e1e1;
    border-radius: .7rem;
}

.page-title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: block;
}

#parking-img {
    width: 22rem;
    border-radius: .5rem;
}

.row {
    max-width: none;
    margin: 0;
}

#title {
    margin: 0;
    text-align: center;
}
.top-bar {
    background: linear-gradient(325deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
}