.page-title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: block;
}

#header {
background: linear-gradient(325deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%)
}

#button-container {
    background-color: red;
}
